body {
  margin: 0;
  font-family: "Kalam", cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #180a0a !important;
}

* {
  font-family: "Kalam", cursive;
}
